fastapi
uvicorn
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-pinecone
pinecone
pypdf
sentence-transformers
python-dotenv
langsmith
ipykernel
tqdm
pytesseract 
pillow 
pdf2image 
pypdf
python-multipart